.min-h50{
    min-height: 50px;
}

.min-h100{
    min-height: 100px;
}

.min-h200{
    min-height: 200px;
}

.min-h300{
    min-height: 300px;
}

.min-h400{
    min-height: 400px;
}

.min-h500{
    min-height: 500px;
}