/* altezze */

.min-h50{
    min-height: 50px;
}

.min-h100{
    min-height: 100px;
}

.min-h200{
    min-height: 200px;
}

.min-h300{
    min-height: 300px;
}

.min-h400{
    min-height: 400px;
}

.min-h500{
    min-height: 500px;
}

#per100{
    width: 100%;
}

/* larghezza */

.max_w_250{max-width: 250px;}
.w_60{width: 60%;}


/* background color */

.bg_blue_nav{background-color: #2c3e50;}
.bg_green   {background-color: #1abc9c;}
.bg_red     {background-color: #ba4b63;}
.bg_turkey  {background-color: #1ea4b6;}
.bg_black   {background-color: #140f0f;}
.bg_azz     {background-color: #1c83c1;}
.bg_blue    {background-color: #0e38b5;}
.bg_beige   {background-color: #ccb2a3;}

#green   {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

/* color */

.colr_white{color: white;}

#white{color: white;
border: 1px solid white;}

.bord_black{border-bottom: 1px solid black;}


/* input */

input:focus-visible{
    outline: 0;
}

.bord_none{border: none;}

